[2020-09-30 04:16] jmcvetta opened #1 "Merge with `jmcvetta/terraform-provider-rollbar`"
Merge this repo with my [proof of concept software](https://github.com/jmcvetta/terraform-provider-rollbar).

[2020-09-30 05:53] jmcvetta commented on #1
The scripts in folder `scripts` will not be included in CI. Reasoning:

* Functionality of `errcheck.sh` is already included in ShiftLeft code analysis.
* Using `goftmt` in CI/CD is [discouraged by the Go developers](https://golang.org/doc/go1.10#gofmt)

[2020-09-30 06:18] jmcvetta opened #2 "Code analysis badges"
Add badges for CodeQL and ShiftLeft to `Status` section of README.

[2020-09-30 07:07] jmcvetta commented on #1
Babbel provider depends on https://github.com/babbel/rollbar-go/.  This functionality must be merged into either the jmcvetta provider's internal API client or https://github.com/rollbar/rollbar-go, depending which approach we decide to take.

[2020-09-30 07:11] jmcvetta opened #3 "API mocking"
As part of merging https://github.com/babbel/rollbar-go/ (per #1) into our own Rollbar API client, we need better API mocking.

The existing tests for https://github.com/babbel/rollbar-go/ do manual API mocking.  It would be better to use an open source mocking tool.

The internal Rollbar API client in the jmcvetta provider uses [Resty](https://github.com/go-resty/resty) as a REST client.  Resty [

[2020-10-02 12:16] jmcvetta commented on #3
API mocking with `httpmock` is now working:  https://github.com/rollbar/terraform-provider-rollbar/blob/919f3ca70c2a74123a37883ad2cfad027b8e41ab/client/project_test.go#L13-L16

[2020-10-02 12:16] #3 closed

[2020-10-04 14:58] jmcvetta opened #5 "Convert tests to use factories instead of fixtures"
Maybe use https://github.com/bluele/factory-go?

[2020-10-06 06:57] jmcvetta opened #6 "Import support for resource `rollbar_project`"
We should add import support for Rollbar projects.

[2020-10-06 07:34] jmcvetta opened #7 "Reconcile API-only team properties with UI"
From the [API docs](https://explorer.docs.rollbar.com/#operation/create-a-team):

I'm a little concerned about this, since the UI and the API may have different logic on the backend.  @mrunalk is it safe to use these API-only team access levels?

[2020-10-06 07:51] jmcvetta opened #8 "Successful API create operations should return HTTP 201"
Currently the API operations to create new Projects and Teams (and probably other entities) return HTTP status `200 OK` on success.  However as create operations they should instead return status `201 Created` on success.

See [`200 OK`](https://httpstatuses.com/200) vs [`201 Created`](https://httpstatuses.com/201) for comparison.

Confirmed to affect:
* [ ] Project
* [ ] Project Access Token
* [

[2020-10-06 08:43] jmcvetta opened #9 "API documentation shows incomplete path"
The API documentation for _Get a team_ does not show the complete URL path needed to retrieve a team resource.  The doc mentions `team_id` as a required path parameter, but does not show it in the example URL path.

![image](https://user-images.githubusercontent.com/55682/95179246-95173580-07ea-11eb-820e-2249752cf730.png)

[2020-10-06 08:44] jmcvetta commented on #9
Same issue for _Delete a team_:

![image](https://user-images.githubusercontent.com/55682/95179459-d7407700-07ea-11eb-93d9-3300a0ba1468.png)

[2020-10-06 09:27] jmcvetta opened #10 "Godoc link for `client` sub-package"
Add a link to godoc on the `client` sub-package's README.

This won't work until until branch [`merge-jmcvetta`](https://github.com/rollbar/terraform-provider-rollbar/tree/merge-jmcvetta) is merged into `master`.

[2020-10-06 10:20] jmcvetta opened #11 "Project Settings"
Add support for Rollbar project settings.

Per [the spec](https://quip.com/joTAALQ6U5L9/Rollbar-Terraform-Provider-Product-Spec), as of 6 Oct 2020 the API may not yet support all project settings.

[2020-10-06 11:51] jmcvetta opened #12 "API support for deleting project access token"
Currently the API does not support deleting a project access token.  This functionality is required for the Terraform provider to manage project access tokens.

[code]

[2020-10-06 11:53] jmcvetta commented on #12
@mrunalk @coryvirok

Is this a good place to open Issues for API feature requests / bugs / etc?  Or is there another repo that would be better?

[2020-10-06 12:45] jmcvetta commented on #8
Same issue with creating project access tokens.

[2020-10-06 18:25] coryvirok commented on #12
This should work for now. I'll link to it in our internal tracking system.

[2020-10-07 10:50] jmcvetta opened #13 "Eliminate `go-model` dependency"
If possible we should eliminate the [dependency](https://github.com/rollbar/terraform-provider-rollbar/blob/merge-jmcvetta/rollbar/data_source_project.go#L74) on [`go-model`](https://github.com/jeevatkm/go-model).  It can potentially throw errors in a way that's hard to account for in unit tests.  And the library is not very widely used, so its long term maintenance is a risk factor.

[2020-10-07 11:10] jmcvetta opened #14 "Catch `401 Unauthorized` and return custom error"
Potentially Rollbar API could return `401 Unauthorized` because we're using bad credentials.  `RollbarApiClient` does not currently catch this.  But it should, and return a custom error type `ErrUnauthorized`.  Then the provider can interpret that result and give a friendly error message.

* [ ] Project
* [ ] Team
* [ ] Project access token

[2020-10-07 11:29] jmcvetta commented on #5
After consideration, I think it's better to use actual replies from the API.  If our struct model is wrong, testing it against itself isn't going to uncover the problem.

[2020-10-07 11:29] #5 closed

[2020-10-07 11:34] jmcvetta opened #15 "Use recorded API responses in all unit tests"
Per the conclusion of #5 its better to use actual recorded API responses in the unit tests.  Test for project and project access tokens should be converted to this style.

[2020-10-07 15:51] jmcvetta opened #23 "API returns deleted projects"
After deleting a project through the API, it still shows up in the list of projects returned by the API - only with its name set to nil. This seemingly undesirable behavior should be fixed on the API side. We [work around it](https://github.com/rollbar/terraform-provider-rollbar/blob/a1b8356f3628ae4c30412818678b278d23d1848a/client/project.go#L96-L108) by removing any result with an empty name.

Th

[2020-10-07 16:23] jmcvetta opened #24 "API docs: possible typo in scopes"
The API docs show four possible scopes for a project access token: `write`, `read`, `post_server_item`, and `post_client_server`.  Yet actual output of the API has `post_client_item` instead of `post_client_server`.  This is is probably a typo in the API docs.

![image](https://user-images.githubusercontent.com/55682/95358758-98e2af00-08f3-11eb-88c2-d30c2bce5604.png)

From the actual JSON response

[2020-10-07 17:35] #15 closed

[2020-10-07 17:41] jmcvetta opened #26 "How should provider handle `ErrNotFound`"
Per discussion with Cory on Slack, need to research if/how the provider can handle `ErrNotFound` returned by API client.

[2020-10-08 12:33] #13 closed

[2020-10-08 12:43] #14 closed

[2020-10-08 12:44] jmcvetta commented on #2
This is done

[2020-10-08 12:44] #2 closed

[2020-10-10 07:25] mrunalk commented on #7
Good question. I don't know why there are different access_levels for API and UI. But I don't think using API-only access_level would be an issue.

[2020-10-12 05:35] #7 closed

[2020-10-12 06:55] jmcvetta opened #29 "Data source `project_access_tokens`"
Create Terraform data source `project_access_tokens` to list all tokens for a project.

[2020-10-12 06:56] jmcvetta opened #30 "Resource `project_access_token`"
Create Terraform resource `project_access_token` to allow CRUD of access tokens.

Depends on #12.

[2020-10-12 08:46] jmcvetta commented on #23
We see this behavior expressed several ways:

The list of projects returned by `GET /api/1/projects` includes projects that have been deleted.

The deleted projects have their `name` field set to `null`.  The deleted projects have a somewhat different set of fields than non-deleted projects.  The fields are mostly blank; those fields that are populated may be full of bogus data.

A call to `GET /a

[2020-10-12 09:12] jmcvetta opened #31 "Example config for babbel provider"
Hi @parabolic, @jtsaito, and @fmasuhr!  I'm the developer Rollbar hired to build out the Terraform provider.  Thanks for writing the provider up to this point!

I want to make sure future versions of the provider don't break your Terraform configurations.  (Or if they do break them, we'll have discussed it well in advance of the release.)  So it would be super helpful if you could give me some exa

[2020-10-12 09:43] jmcvetta commented on #23
API will list access tokens for deleted projects:

[code]

[2020-10-12 10:50] jmcvetta opened #32 "Test for `rollbar_projects` data source fails when there are other projects in the account"
Acceptance test for data source `rollbar_projects` fails when the Rollbar account contains projects other than the one created by the acceptance test.

[code]

[2020-10-12 10:54] jmcvetta opened #33 "Use Testify for acceptance tests"
Testify is working very nicely for unit tests.  So let's use it for acceptance tests, too.

[2020-10-12 13:03] #29 closed

[2020-10-12 13:05] jmcvetta opened #35 "Test rotating access tokens"
It's important that we test the process of rotating project access tokens.

Blocked by #12

[2020-10-13 09:01] #33 closed

[2020-10-13 09:42] #32 closed

[2020-10-14 07:19] jmcvetta opened #38 "babbel provider compatibility"
Ensure first release of Rollbar provider retains compatibility with https://github.com/babbel/terraform-provider-rollbar/.

Issue #31 solicits input from babbel developers.

Ensuring compatibility is a precondition to closing #4.

[2020-10-14 07:40] jmcvetta opened #39 "Test handling of invalid Terraform configuration"
The provider should fail gracefully if the user provides invalid configuration.

E.g. the user specifies a non-existent scope:

[code]

Correct handling of bad configuration must be tested.  This is not covered in Terraform docs; need to research best practices.

[2020-10-14 08:46] jmcvetta opened #40 "golangci-lint"
https://golangci-lint.run/usage/install/#ci-installation

[2020-10-14 13:59] jmcvetta opened #41 "Update project access token fails, but returns status `200 OK`"
When trying to update a Rollbar project access token to use a different scope, status, or name than it was created with, the API returns status `200 OK` indicating success.  However subsequently listing the tokens shows no update was actually made.

If it is intentional that a token's scope, status, & name cannot be changed after creation, then the API should return status `400 Bad Request` with a

[2020-10-14 14:52] jmcvetta opened #42 "Update license comments"
All license comments in the code should be updated to reflect the MIT license.

[2020-10-14 15:38] jtsaito commented on #31
@jmcvetta Please find below some example code:

[code]

We use this on a dozens of projects but still need to do manual work, e.g. for cleaning up the auto generated project access tokens for `read` and `write` and for syncing project notifications.

We would actually have liked to implement Terraform resources for project tokens. However, account tokens don't grant full access to all project rela

[2020-10-15 07:36] mrunalk commented on #23
After investigating this I think this is intentional as I see there is a way to restore a deleted project. If someone accidentally deletes a project, there should be a way to restore that project. To restore a project one needs a project id. Maybe you can check if "status" is "enabled" for active projects otherwise they are deleted or can be ignored. @coryvirok, correct me if I'm wrong.

[2020-10-15 10:13] jmcvetta commented on #23
If the behavior is intentional, there is probably a better way to implement it.  Consider these results, showing 1 deleted project and 1 active project:

[code]

The active project returns a field `"status": "enabled"`.  So we would expect the deleted project to return a field `"status": "disabled"`.  But it does not.  It does not return any `status` field at all.

Instead the deleted project's na

[2020-10-15 12:09] jmcvetta commented on #23
Another thing to consider...  The most recent time I ran the acceptance tests, listing all projects returned 756 items, of which only 4 were active valid projects.  So the API is pumping out ton of useless data just to get the small amount of useful data.  See `raw_projects` and `cleaned_projects` in the debug log below.

[code]

The acceptance tests run on each push to Github.  So the total numbe

[2020-10-15 12:19] jmcvetta commented on #31
Thanks for this @jtsaito!  Issue #12 covers the project access token DELETE endpoint.  Maybe @mrunalk can give us some feedback on when that endpoint will be ready?

Can you elaborate on this?  I haven't so far been refused access to any resources with my account token.

[2020-10-15 19:09] coryvirok commented on #23
Looks like this is actually a bug in our API since it shouldn't return deleted projects. Ideally, we can support returning soft deleted projects by passing in a "deleted=true" or something similar.

@mrunalk can you file a story internally to fix that in the API and maybe a second to implement the option to return deleted projects?

[2020-10-16 06:19] #40 closed

[2020-10-16 08:44] #42 closed

[2020-10-16 08:56] jmcvetta opened #46 "Sweeper to cleanup orphaned projects from test failures"
https://www.terraform.io/docs/extend/testing/acceptance-tests/sweepers.html

[2020-10-16 11:08] jmcvetta opened #48 "Separate Terraform compat checks from unit tests"
Terraform syntax compatibility checks should be run in a separate workflow from unit tests.  Because caching for the Terraform Action conflicts with caching for the Go Action.

[2020-10-16 11:11] #30 closed

[2020-10-16 11:33] jmcvetta commented on #48
Turns out there's not issue with the cache, just misinterpreted some output.  This change is therefore unnecessary.

[2020-10-16 11:33] #48 closed

[2020-10-16 11:34] jmcvetta commented on #46
Can we do this without stomping parallel test runs?  Probably not...

[2020-10-16 12:29] #38 closed

[2020-10-16 13:10] #6 closed

[2020-10-16 13:40] jmcvetta commented on #26
The official Github provider handles 404 errors by [removing the item from state](https://github.com/terraform-providers/terraform-provider-github/blob/643cf2f06c98a7e8b061d8a06ae6b9bec0bf0deb/github/resource_github_team.go#L129-L134):

[code]

[2020-10-16 16:14] jtsaito commented on #31
@jmcvetta Sorry, I had not seen the issue list.

As [documented](https://explorer.docs.rollbar.com/#section/Authentication)

I.e. tokens, in addition to the account token. (Some how to me this seems to be mixing up different levels of  authorisations but it is the way the API was designed.)

In a Terraform provider, the place to put such tokens should be in the provider definition itself. However,

[2020-10-16 20:33] jmcvetta opened #51 "Document import functionality"
Add resource import functionality to documentation.

[2020-10-19 06:28] jmcvetta commented on #41
Until the API is fixed, I think we can work around this bug by setting schema attribute `ForceNew: true` on fields `scopes`, `status`, and `name`.

[2020-10-19 06:37] jmcvetta opened #52 "Does it make sense to expose current rate limit info?"
Does it even make sense for the Terraform provider to expose `cur_rate_limit_window_count` and `cur_rate_limit_window_start` as attributes on a `rollbar_project_access_token` resource?  These values should change constantly - so I don't see how they would be useful as Terraform outputs.  If anything, their presence as resource attributes may be confusing.

@coryvirok @mrunalk what are your thought

[2020-10-19 06:56] jmcvetta opened #53 "Use env var `ROLLBAR_API_KEY` instead of `ROLLBAR_APIKEY`"
The babbel provider code can read the API key from environment variable `ROLLBAR_APIKEY`.  That variable name is non-standard and doesn't match the field name in Terraform, `api_key`.

Therefore I will change the code to look for the API key in environment variable `ROLLBAR_API_KEY`.

Notifying @parabolic, @jtsaito, and @fmasuhr so there will be no surprises on the next release.

[2020-10-19 07:19] jmcvetta opened #54 "API error when creating token with `rate_limit_window_size` specified"
Trying to specify a `rate_limit_window_size` when creating a project access token, the API returns the following strange error:

[code]

However if I first create a token without specifying `rate_limit_window_size`, calling `PATCH` on that token does successfully update `rate_limit_window_size`.

[code]

[2020-10-19 07:24] jmcvetta commented on #54
Ugh... it was my own typo.  I wrote `rate_limit_window_size=60` instead of `rate_limit_window_size:=60`.  The former is the syntax for HTML form posting; the latter, which I intended, is the syntax for JSON body.

[2020-10-19 07:24] #54 closed

[2020-10-19 07:30] jmcvetta opened #55 "Document data sources `rollbar_project` and `rollbar_project_access_token`"
Currently we have documented the new (plural) data sources `rollbar_projects` and `rollbar_project_access_tokens`.  We need to document the (singular) data sources carried over from babbel provider.

[2020-10-19 08:35] jmcvetta opened #56 "More than one token per project can have the same name"
The API allows creation of more than one token per project with the same name.  This is potentially confusing, and probably a bug.

[code]

[2020-10-19 08:51] jmcvetta opened #57 "Publish provider"
https://www.terraform.io/docs/registry/providers/publishing.html

Blocked by #12.

[2020-10-19 08:53] jmcvetta opened #58 "Terraform Provider Development Program"
@coryvirok Do we plan to participate in the [Terraform Provider Development Program](https://www.terraform.io/guides/terraform-provider-development-program.html)?

[2020-10-19 11:38] jmcvetta opened #59 "Same set of fields for data source `rollbar_project` as for `rollbar_projects`"
Currently data source `rollbar_projects` supports a larger set of fields on each project.  We should those fields to data source `rollbar_project`.

[2020-10-19 11:45] #59 closed

[2020-10-19 11:46] jmcvetta commented on #55
Completed

[2020-10-19 11:46] #55 closed

[2020-10-19 11:46] jmcvetta commented on #53
Completed

[2020-10-19 11:46] #53 closed

[2020-10-19 11:47] jmcvetta commented on #51
Completed

[2020-10-19 11:47] #51 closed

[2020-10-19 12:18] jmcvetta commented on #39
Complete

[2020-10-19 12:18] #39 closed

[2020-10-19 13:15] jmcvetta opened #61 "Resource `rollbar_user`"
Implement resource `rollbar_user`.  There is some existing code in the babbel provider.

[2020-10-19 13:20] jmcvetta commented on #31
@jtsaito Yes, that does sound like the API may be mixing up different levels of authentication.

When I get to implementing [notifications](https://github.com/rollbar/terraform-provider-rollbar/milestone/5) (currently on the road map), I will work with the Rollbar API team to make sure we are handling auth in a reasonable way.

[2020-10-19 13:30] jmcvetta opened #62 "Allow creation of notifications using account access token"
As [pointed out](https://github.com/rollbar/terraform-provider-rollbar/issues/31#issuecomment-710159549) by @jtsaito in #31, creating a notification currently [requires](https://explorer.docs.rollbar.com/#tag/Notifications) a _project_ access token, not an _account_ access token.

This makes it difficult for Terraform to control notifications.  The `ROLLBAR_API_KEY` used for API authentication is

[2020-10-19 17:45] coryvirok commented on #26
Maybe we can have the default behavior be to error out but we can provide an option to remove the item from the state?

[2020-10-19 17:51] coryvirok commented on #62
@jmcvetta I think what you're proposing is for Account access token `write` scope to provide `write` operations for all projects on that account. That way, Account access tokens provide a super-set of Project access tokens and any operation you would do that requires a Project access token with `write` scope can be performed with the Account access token with `write` scope. Is that correct?

[2020-10-19 17:53] coryvirok commented on #52
I think it makes sense to keep these. They're helpful for rate limits that have a very long window, e.g. a month. Customers can use this information to understand how close to their monthly "budget" they are.

[2020-10-19 17:54] coryvirok commented on #58
Yup! That's the plan

[2020-10-20 10:35] jmcvetta commented on #62
@coryvirok Yes, that's exactly right.

[2020-10-20 11:18] jmcvetta opened #63 "Unexpected `from_user_id` on invitations created through API"
When I create a team invitation through the web UI, that invitation shows my correct Rollbar user ID in the `from_user_id` field.  However when I create an invitation through the API, it shows a different user ID (that does not belong to me).

It looks like maybe the invitation is recorded as coming from a special "API User" account, rather than the account that owns the token that authorized the

[2020-10-20 11:23] jmcvetta commented on #63
Yup, there it is - user `sys:internalapi` created the invitation.

![image](https://user-images.githubusercontent.com/55682/96579569-45179300-1301-11eb-974b-e993048d922a.png)

[2020-10-21 08:45] jmcvetta commented on #52
Right now these are exposed in data sources `rollbar_project_access_token` and `rollbar_project_access_tokens`; but not in resource `rollbar_project_access_token`.  I will revisit this to see if it's feasible to expose this field in the resource too.

[2020-10-21 09:14] jmcvetta opened #65 "Inconsistent shape of user data returned by list users and get user"
A different set of fields is returned when listing all users versus getting a single user.  The field `email_enabled` is only returned by the single user endpoint.

[code]

It would be better if both endpoints returned the same data shape for a user.

Also...

* Since `email_enabled` is a boolean value, it would be nice if the API returned a bool rather than a number.
* List users returns a `users

[2020-10-21 11:57] jmcvetta opened #66 "API returns status `403 Forbidden` on invalid user to team assignment"
If I try to [assign](https://explorer.docs.rollbar.com/#operation/assign-a-user-to-team) a non-existent (within the account) user ID to a team, the API responds with status [`403 Forbidden`](https://httpstatuses.com/403).  Likeweise if I try to add a valid user to a non-existent team ID, `403 Forbidden`.

@mrunalk Do you think [`404 Not Found`](https://httpstatuses.com/404) would be a better respo

[2020-10-21 12:06] jmcvetta commented on #66
For the same error conditions, [remove user from team](https://explorer.docs.rollbar.com/#operation/remove-a-user-from-a-team) returns status [`422 Unprocessable Entity`](https://httpstatuses.com/422).  That's an interesting alternative.  What do you think, is 404 or 422 more appropriate?

[2020-10-21 14:35] jmcvetta commented on #35
This works in manual testing.  _Except_, per #12 the old tokens are not deleted.  Which is a big problem.

We can add a step to the automated acceptance testing to check that token rotation works.  But that step should really test that the token has been deleted.  So it is blocked by #12.

@mrunalk Is there an expected date when token DELETE functionality will be added?

[2020-10-21 16:28] mrunalk commented on #11
This seems like an API request. Feel free to assign this to me if you need any help.

[2020-10-21 16:39] jmcvetta opened #67 "Handle default access tokens in newly created project"
As part of project resource creation, the default project access tokens can be deleted, if an option is set on the project resource.

[2020-10-21 16:47] jmcvetta commented on #31
Hi folks!   The existing provider implements resource `rollbar_user`.  Are you using this resource?

[2020-10-22 09:04] fmasuhr commented on #31
Hey @jmcvetta apparently we are not using this resource at all. We had the plan to use this and implemented it some time ago but currently it is not in use.

[2020-10-23 10:46] jmcvetta commented on #31
Thanks @fmasuhr!  In that case, I will not prioritize keeping resource `rollbar_user` compatible with the current implementation.

[2020-10-24 06:29] jmcvetta opened #68 "Add metadata to schema"
Terraform SDK v2 (which we're already using) added [support for metadata](https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html#support-for-resource-level-and-field-level-descriptions) on resources and fields.  This is not yet actually used by Terraform for anything, but will be used in a future version.  So we ought to add this now.

## Todo

* [x] resource `rollbar_project`
* [x] res

[2020-10-24 06:40] jmcvetta commented on #67
Maybe the way to handle this is to make project access tokens into a [nested block](https://www.terraform.io/docs/configuration/syntax.html#arguments-and-blocks).  If the block is empty, create the default tokens.  If the block is populated, only create the tokens described in the block.

Buuuut...  I don't like that there is special magic going on.  It's not really _obvious_  what's happening.  Y

[2020-10-24 06:52] jmcvetta commented on #67
A better way to handle this is to change the API's behavior.  I can't imagine too many users are going to opt for keeping the default unmanaged tokens.  The whole point of using Terraform is to have everything managed - your whole infrastructure is described in the Terraform config.

@mrunalk @coryvirok  How feasible would it be to get an API enhancement, so there is a way to create a new project

[2020-10-24 07:38] jmcvetta commented on #52
Closed by PR #70

[2020-10-24 07:38] #52 closed

[2020-10-24 07:41] jmcvetta commented on #1
@fmasuhr's [comments](https://github.com/rollbar/terraform-provider-rollbar/issues/31#issuecomment-714347172) that babbel provider's resource `rollbar_user` is not in use.  Therefore the new provider code provides compatibility with previous version, and we are ready to merge into `master`.

[2020-10-24 07:42] jmcvetta commented on #1
Development of new resource `rollbar_user` will continue in branch `resource-rollbar-user`.

[2020-10-24 07:53] #1 closed

[2020-10-24 08:16] #10 closed

[2020-10-24 08:30] jmcvetta commented on #26
Provider should return a detailed `diag.Diagnostic` object.  Currently it uses `diag.FromErr()` to convert `ErrNotFound` to `Diagnostic` object.  This provides a bland, unhelpful error message to the Terraform user.

[2020-10-24 08:33] jmcvetta opened #73 "`id` field for project access token"
Currently the API uses the access token itself is used as the identifier for a project access token object.  This is undesirable, as the token may be exposed in intermediary HTTP logs, as well as in debug logs.

Instead the API should expose a standard integer `id` field to identify PAT objects.

[2020-10-24 08:44] jmcvetta commented on #46
It seems the sweepers are not run automatically, but must be invoked manually.

From the [docs](https://www.terraform.io/docs/extend/testing/acceptance-tests/sweepers.html):

[2020-10-24 09:20] jmcvetta commented on #26
Sending a diagnostic with severity Error probably isn't the right behavior.  It leaves Terraform wedged if a resource is deleted manually through the web UI.  It's not even possible to run `terraform destroy`.  Requiring the entity to be removed manually from TF state.

[code]

[2020-10-24 09:23] jmcvetta commented on #26
I'm thinking the Github provider's behavior is correct:  Remove the item from state, and emit a warning.  Since the item is already gone from the SaaS, Terraform can't actually do anything to manage it.  The best and only thing Terraform can do is recreate it.  Which is what will happen if we remove it from state.

[2020-10-24 09:43] jmcvetta commented on #26
I _think_ it will be sufficient to handle `ErrNotFound` on the read functions of each resource.  Since Terraform always calls read before attempting to update or delete.

[2020-10-24 11:38] #26 closed

[2020-10-25 12:03] #46 closed

[2020-10-25 12:34] jmcvetta opened #77 "Resource `rollbar_team`"
Implement Terraform resource `rollbar_team`.

How will team to user relationships be expressed?  Cf #61.

[2020-10-25 12:40] jmcvetta commented on #77
We can relation relate users to teams in two ways.  Either a user can have a `teams` argument; or a team can have a `users` argument.

Either

[code]

_or_

[code]

[2020-10-25 12:42] jmcvetta commented on #77
Probably `teams` needs to be an argument on `rollbar_user`.  Because it's not possible to have a Rollbar user that's not a member of a team.  A user is created only by invitation to a team.

[2020-10-25 14:16] jmcvetta opened #78 "Split Terraform syntax compatibility checks out of Build & Test workflow"
Let's get these running in parallel.

[2020-10-25 14:29] jmcvetta commented on #78
Shaves off less than 1s test time

[2020-10-25 14:29] #78 closed

[2020-10-26 06:54] jmcvetta opened #79 "API returns `403 Forbidden` when team or project not found"
When trying to [read a team](https://explorer.docs.rollbar.com/#operation/get-a-team) with an ID that doesn't exist, the API returns status `403 Forbidden`.  Instead it should return `404 Not Found`.

[code]

[2020-10-26 10:44] #77 closed

[2020-10-26 11:29] jmcvetta commented on #61
See https://github.com/rollbar/terraform-provider-rollbar/issues/77#issuecomment-716142102 for discussion on teams/users relationship modeling.

[2020-10-26 11:51] jmcvetta opened #81 "Querying user list is slow"
Querying the list of all users for my account is taking around 15 seconds - even tho there is only one user.  Other API operations complete in less than a second.

[code]

Most likely cause: The database query includes deleted projects (see #23).  Maybe all in one query; or maybe looping and doing one query per project.  As of this writing there are 1899 total projects on my account, the vast majo

[2020-10-26 12:20] jmcvetta opened #82 "Feature request: query user ID by user email"
It would be nice if there were an endpoint where I could query a user's ID based on their email.  Currently I can do this by querying all users, then looping through the results.  It would be much more efficient to do this operation with a database query.

This matters because team memberships reference users by ID; but invitations reference users by email.

[2020-10-26 19:15] coryvirok commented on #67
Seems like the right approach is:

1. Short term, have the TF Provider delete default tokens
2. Medium term, provide the project creation API with an option to skip creation of the default tokens
3. Longer term, deprecate the API option to skip creation of the default tokens and replace it with an option to create default tokens, (i.e. flip the logic)

@mrunalk can you add an internal story for th

[2020-10-27 06:37] jmcvetta commented on #67
Since the API currently has few users, would it be easier/better to skip step 2?  I doubt it would be any more difficult from a programming perspective to do (3) than to do (2).  Better to make significant changes while there are fewer users to be surprised or inconvenienced.

But - I don't have usage data for the API, so I don't actually know how many are currently using it.

[2020-10-27 06:48] #67 closed

[2020-10-27 06:53] jmcvetta commented on #67
PR #75 implemented the new behavior, deleting default tokens on project creation.

**Note however:** the API does not yet support deleting project access tokens.  So the underlying calls made by the code just merged in #75 are no-ops.  They emit a warning message, but aren't actually able to delete anything.

Issue #12, API support for deleting project access tokens, is a blocker here.  @mrunalk I

[2020-10-29 08:36] jmcvetta opened #87 "Thinking about users"
I'm trying to figure out the right way for Terraform to control Rollbar users.

On the Rollbar side, a user can't be created, only invited.  Users only exist in the context of a team - there is no concept of a user who is not a member of any team.  We create an invitation, and at some unspecified point in the future the recipient may (or may not) confirm their invitation and register as a user.

O

[2020-10-29 08:46] jmcvetta commented on #87
One thought is to combine Rollbar user ID and email for the terraform state ID.  Giving a TF state ID like `238101:jason.mcvetta@gmail.com`.  Invited but not yet registered users would have a TF state ID like `0:teammate@company.com`.  Then Terraform could prefer the Rollbar user ID when available; or do things the inefficient way when we only have an email.

But...  After the initial `terraform a

[2020-10-29 11:29] jmcvetta commented on #87
Checked into how the AWS provider [handles ACM certificate requests](https://github.com/terraform-providers/terraform-provider-aws/blob/eec4f71c885788d86ca39b3f6e016ddcabcb75a0/aws/resource_aws_acm_certificate.go#L251-L289).  Turns out the AWS API creates an inactive certificate object when the call is made; that cert just doesn't become active until the domain owner confirms it.  Thus Terraform i

[2020-10-29 18:29] coryvirok commented on #87
The fact that the API cannot create users does make this challenging...

What if we only stored the email address for a user on a team in the TF state? The provider would then check to see if the email was on the team, (i.e. there's a registered Rollbar user on the team and they have a user ID) *or* the email was invited to the team. In this scenario, the resource would be something like `TeamUser

[2020-11-02 07:02] jmcvetta opened #88 "Feature request: query all invitations for a user"
It would be useful to be able to query all team memberships and invitations for a given user.

Currently, to get the list of an email's invitations, it's necessary to query the list of all teams.  Then I need to loop over each team to query all users and all invitations for that team.  So what should be two API calls (all teams and all invitations) with nice indexed DB queries on the backend, beco

[2020-11-02 07:05] jmcvetta commented on #87
Sure, that could work.

I'm taking that approach with [the current code](https://github.com/rollbar/terraform-provider-rollbar/blob/1592d3782be333f5f7167f036c4888bb0480ae5e/rollbar/resource_user.go#L98-L201).  But for it to be efficient, it needs some new API endpoints:
* Get user ID from email - #82
* Get all teams for user, get all invitations for user - #88

[2020-11-02 07:11] jmcvetta opened #89 "Argument name `teams` vs `team_ids`"
Should the team membership argument on resource `rollbar_user` be called `teams` or `team_ids`?

[2020-11-02 07:55] jmcvetta opened #90 "Team create API returns success before team actually exists"
I'm seeing an intermittent issue where the [create team endpoint](https://explorer.docs.rollbar.com/#operation/create-a-team) returns success and a team ID.  But if the next API call depends on the existence of the team it will fail intermittently.  The failure is intermittent but frequent, occurring on about 2/3 test runs.

Experiment: I halted the acceptance test run immediately when this error

[2020-11-02 08:40] jmcvetta opened #91 "Email address for acceptance testing"
Acceptance testing creates a _lot_ of team invitations.  Currently they're all going to my gmail account.  This is not ideal because it makes the testing infrastructure dependent on a resource that belongs to me not to Rollbar.

@coryvirok Can we get a rollbar.com email address for use with acceptance testing?

It would be super awesome if we could figure out a way to have some of those invitation

[2020-11-02 08:49] jmcvetta opened #92 "Programmatically confirm team invites during acceptance testing"
As mentioned in #91, we need a way to confirm emailed team invitations in order to run automatic acceptance tests over the entire gamut of `rollbar_user` functionality.  Because a Terraform `rollbar_user` resouce encompasses both invitations and users on the API.

@coryvirok @mrunalk @jtsaito @fmasuhr Any thoughts on how to approach this?  There's probably an existing tool for the purpose, tho I h

[2020-11-02 08:51] jmcvetta commented on #92
In order to accept an invitation, a user must be logged in to Rollbar.com.  This may make it more difficult to automate.

![image](https://user-images.githubusercontent.com/55682/97848044-1b0f9900-1d23-11eb-99c3-f6e0e6e54771.png)

[2020-11-02 15:04] jmcvetta commented on #90
On further examination, I'm not sure this is what was happening.

The bug I'm seeing appears to be caused by tests running in parallel not playing nicely with the workaround for #88.

[2020-11-02 15:06] jmcvetta commented on #88
This workaround runs into problems if there are parallel operations occurring that impact teams or users.  It was necessary to de-parallelize some tests in order for them to pass:  https://github.com/rollbar/terraform-provider-rollbar/commit/e061815b9e63d7100ef8a66dabaf549ee35eede5

[2020-11-03 11:12] jmcvetta opened #94 "full testing for resource `rollbar_user`"
We need much better acceptance test coverage for resource `rollbar_user`.  This requires #92, as we need to test the transition from invitation to registered user.

[2020-11-04 17:09] jmcvetta opened #95 "test removing a team with members"

[2020-11-04 18:35] jmcvetta opened #96 "resource `rollbar_user` import functionality"

[2020-11-05 14:27] jmcvetta opened #98 "Documentation for `rollbar_user`"
Resource `rollbar_user` needs to be added to the documentation.

[2020-11-05 20:01] fmasuhr commented on #92
@jmcvetta We also encountered this issue when developing the provider but AFAIK did not found any workaround for it so far :(

[2020-11-09 06:29] jmcvetta commented on #92
Thanks for the feedback @fmasuhr!

[2020-11-09 06:43] jmcvetta commented on #89
The official Github Terraform provider uses `*_id` for ID fields.  Therefore we will stay with `team_ids`.

[2020-11-09 06:43] #89 closed

[2020-11-09 14:42] #61 closed

[2020-11-09 14:42] #94 closed

[2020-11-09 14:42] #96 closed

[2020-11-09 14:42] #95 closed

[2020-11-09 14:42] #98 closed

[2020-11-09 14:46] #31 closed

[2020-11-10 04:58] jmcvetta opened #99 "Resource `rollbar_notification_rule_slack`"
Resource `rollbar_notification_rule_slack`

[2020-11-10 04:58] jmcvetta opened #100 "Resource `rollbar_notification_rule_pagerduty`"
Resource `rollbar_notification_rule_pagerduty`

[2020-11-10 04:59] jmcvetta opened #101 "Resource `rollbar_notification_rule_email`"
Resource `rollbar_notification_rule_email`

[2020-11-10 05:15] jmcvetta opened #102 "Relate resource `rollbar_team` to resource `rollbar_project`"
Implement assigning teams to projects.

https://explorer.docs.rollbar.com/#tag/Teams-Projects

[2020-11-10 05:34] jmcvetta commented on #23
Any movement on this?

As of right now, listing projects for my account returns 2985 projects.  100% of which are deleted.

[code]

[2020-11-10 06:57] jmcvetta opened #104 "Feature request: List teams for a project"
We need an API endpoint to list all teams assigned to a given project.  E.g.

[code]

## Motivation

I think it makes more sense for `team_ids` to be a property of Terraform resource `rollbar_project`, than for `project_ids` to be a property of resource `rollbar_team`.  @coryvirok does reasonable to you?

However this is difficult to implement on top of the current API.  Right now we have only an

[2020-11-10 07:03] jmcvetta opened #105 "API versioning?"
On our last call, @mrunalk mentioned that a fix for #12 is coming soon.  So I'm wondering about API versioning.

API endpoint paths have what appears to be a version number:

[code]

When the new endpoint for deleting access tokens is released, will the API version be incremented?  Will it use [semver](https://semver.org/)?

@coryvirok

[2020-11-10 17:56] coryvirok commented on #104
Teams should belong to Accounts and can be associated with more than 1 Project. You can list out all of the teams for an account using the `/api/1/teams` endpoint with the account access token. Then, you can list out all of the Projects assigned to a team using the `/api/1/team/:team_id/projects` endpoint. I'd recommend implementing a rollbar_account and rollbar_team_project resource. That seems l

[2020-11-10 18:00] coryvirok commented on #105
We haven't been very good about versioning for the API. So, the fix for #12 will not change the version number, no. Our next major API version will be better at implementing semver.

[2020-11-11 07:23] #105 closed

[2020-11-11 07:27] jmcvetta commented on #104
I don't see how we could implement a `rollbar_account` resource in Terraform, since the API does not provide any endpoints for controlling account-level details.

[2020-11-11 07:34] jmcvetta commented on #104
That's the approach taken in [`FindProjectTeamIDs()`](https://github.com/rollbar/terraform-provider-rollbar/blob/9b280168aa8996d7a602c13f38f02a46d199b614/client/project.go#L213-L244).  However it is potentially a slow operation, making _n_+1 calls the the API for an account with _n_ teams.

[2020-11-11 07:57] jmcvetta opened #106 "Make capitalization of "ID" consistent throughout codebase"
The abbreviation "ID" appears in our codebase as both `ID` and `Id`.  Per [Go code review guidelines](https://github.com/golang/go/wiki/CodeReviewComments#initialisms), the appropriate capitalization is `ID`.

Therefore we should update all Go code to the correct style.

[2020-11-11 08:19] jmcvetta opened #107 "Explore RestBird for testing"
Explore whether [RestBird](https://restbird.org/) could be a useful addition to our testing pipeline.

[2020-11-11 08:28] jmcvetta opened #108 "Explore `go-vcr` for testing"
Potentially [`go-vcr`](https://github.com/dnaeon/go-vcr) could be used to make a set of blazing fast pseudo-acceptance tests.  Record the acceptance test suite run against the real API.  Then the acceptance tests can be run against the playback.

[2020-11-12 10:45] #87 closed

[2020-11-12 11:41] #102 closed

[2020-11-13 08:44] jmcvetta opened #110 "Clarification on notification endpoints"
I want to make sure I understand correctly how the notifications system works.  @mrunalk @coryvirok Please let me know if I understand this correctly:

The "configuring integration" endpoint - e.g. `PUT /api/1/notifications/email` - turns _all_ email notifications on or off, depending on the value of `enabled` in the payload.  But it does not actually cause any notifications to be sent.

The "setu

[2020-11-13 09:06] jmcvetta opened #111 "API endpoints for notifications CRUD"
Currently the API only supports `PUT` endpoints for adding [notification rules](https://explorer.docs.rollbar.com/#tag/Notifications).

In order for Terraform to manage notification rules, the API must expose CRUD operations.

Terraform's standards are setup to ensure a single source of truth about a managed resource.  When TF creates a new resource - e.g. a notification rule - the create function

[2020-11-13 10:14] jmcvetta opened #112 "Notifications and project access tokens"
Creating a [notification rule](https://explorer.docs.rollbar.com/#tag/Notifications) requires a project access token, _not_ an account access token.  The payload for creating a notification rule does not have any reference to a project ID.

So I'm assuming the notification is linked to a project based on the project access token used to create it?

If that's the case, there are (at least) two ways

[2020-11-13 18:46] coryvirok commented on #110
@jondeandres can you help answer these questions since you worked on this API?

[2020-11-13 18:48] coryvirok commented on #112
Until we get #62 implemented, let's go with the explicit and verbose option. Thanks!

[2020-11-16 05:24] #112 closed

[2020-11-16 06:42] #106 closed

[2020-11-16 07:54] jmcvetta opened #114 "Is Slack channel really optional in config for Slack notification rule?"
In the API docs for the `config` payload when setting up a Slack notification rule, the Slack channel is not shown as `required`.  Is this actually correct?  If no channel is specified, where do the notification go?  @mrunalk @jondeandres

![image](https://user-images.githubusercontent.com/55682/99225948-7e1d2780-281b-11eb-96ea-2b8d193a2e86.png)

[2020-11-16 08:02] jmcvetta opened #115 "Terraform syntax for Rollbar notification rules"
I'm thinking about whether notification rules for different alert channels should be different Terraform resources; or whether they should be combined into a single resource.

I'm leaning toward a combined resource, but I would like to know your throughts.  @coryvirok @mrunalk @jondeandres

## Separate resources per channel

Advantage: Closely follows the underlying API
Disadvantage: Repetitive if

[2020-11-16 09:33] jmcvetta opened #116 "API Feature Request: more notification channels"
There are many more notification channels shown in the web UI than are available in the API.  The API should support all those channels.

[2020-11-16 16:03] jondeandres commented on #110
@jmcvetta you are right. `enabled` is a property of the integration while each channel can have configured different rules, those rules are setup through `PUT /api/1/notifications/:integration/rules`.

Each integration might have different allowed triggers and each trigger allows different filters on them. I guess you are following https://explorer.docs.rollbar.com/#tag/Notifications, you can see

[2020-11-16 16:11] jondeandres commented on #114
@jmcvetta in case of Slack, you can see that the channel itself has a required `channel` property. If a rule configuration doesn't have a `channel` property we'll use the channel's default to send the messages

[2020-11-16 16:21] jondeandres commented on #115
@jmcvetta it'd be great if that's doable, but I am not sure that'll fit the product as it is right now.

At the end a "new item" rule is a combination of:

- A generic rule for a `new_item` trigger
- Some specific properties for every channel's rule

Example:

We define in our Open Spec API definition a "new item email rule" as:

[code]

Where `NewItemRule` is a generic representation for "new ite

[2020-11-17 08:07] jmcvetta commented on #114
:+1: Gotcha.  If no channel is specified in the rule, it uses the default channel set by the "configuring integration" endpoint.

[2020-11-17 08:07] #114 closed

[2020-11-17 08:33] jmcvetta commented on #110
Cool.

So that raises the question of how (and whether) to make Terraform control integration `enabled` status.

Terraform likes to think in terms of _resources_ that can be created and destroyed. E.g. we can create a team and later delete that team.  Or we can even take the ID of an existing team and import it, to bring that team under Terraform control.

But channel `enabled` status is a toggle

[2020-11-17 09:32] jmcvetta commented on #115
The combined resource syntax is good _if_ users often like to configure the same notification to be sent on multiple channels.  The combined syntax avoids having a bunch of copypasta in your TF configuration; or needing to do something complicated like a user defined module.  But it does not reflect the current API, and (probably?!) does not reflect the underlying database.

It's _possible_ to cre

[2020-11-17 09:59] jmcvetta commented on #110
Another thing we must consider and document is that Terraform [does not have any means to create a singleton resource](https://discuss.hashicorp.com/t/singleton-resource/9869) - a resource for which there can be only one instance.

So if a user were to create two `rollbar_slack_integration` resources with different arguments, Terraform will allow this, and one of the two will be permanently out of

[2020-11-17 13:30] jondeandres commented on #110
We've seen in the past scenarios where a customer wanted to disable completely the integration without removing the rules, usually because of flooding them somehow.

Can we document that if a `rollbar_slack_integration` wants to be destroyed correctly the way to do it would be setting `enabled = false` first and then remove the resource?

One question, a `DELETE /api/1/notifications/:integration/`

[2020-11-18 09:10] jmcvetta commented on #110
Consider this scenario:

A developer already has 10 manually-configured notification rules in Rollbar, created through the web UI.  Then he starts using Terraform.  He adds 5 TF-managed rules, but doesn't touch his 10 original rules.  And he adds a `rollbar_slack_integration` resource - even tho Slack integration was already enabled for his original rules.

At some point the dev decides he no long

[2020-11-18 09:33] jmcvetta opened #119 "Thoughts for API v2"
It might be nice to have a slightly different API structure in the next version:
* `/api/2/integrations` - List all integrations
* `/api/2/integration/:channel` - CRUD integration configuration
* `/api/2/notification-rules` - List all notification rules for all integration channels.  `/rules` would be more terse; but I can imagine that endpoint being used for other kinds of rules in the future.
*

[2020-11-18 09:37] jmcvetta commented on #110
What I really need are the endpoints described in #111.  The second item in the bullet list, to list all rules, would be super nice to have; but isn't strictly necessary.  The others are the minimum API support needed to allow Terraform to control Rollbar notifications.

[2020-11-18 10:26] jmcvetta commented on #110
I notice now that we need a _project_ access token when enabling an integration channel.  Does that mean that integrations are enabled for that project only?

So if we define multiple `rollbar_project` resources, we'll also need a matching number of `rollbar_notifications_slack_integration` resources?

[2020-11-18 11:01] jmcvetta opened #120 "Slack account & channel for testing"
We need a slack channel for testing notifications.  Ideally one on an account not shared by Rollbar's internal slack channels.

[2020-11-18 15:09] #68 closed

[2020-11-18 16:19] jmcvetta commented on #108
This is underway in branch https://github.com/rollbar/terraform-provider-rollbar/tree/vcr-acceptance-tests - but so far have not been able to get a replay run to succeed.

[2020-11-18 16:25] jmcvetta commented on #92
We are able to do acceptance testing on both invited and registered users, with a manually-registered user for the latter.

But without this Issue being resolved, we are _not_ able to test the transition from invited to registered.

[2020-11-18 16:26] jmcvetta commented on #57
Blocked by #12 and #35.  We should not publish the provider until PAT behavior is as documented.

[2020-11-18 17:46] jmcvetta opened #125 "data source output changed when team project association deleted through UI"
After manually removing team-project association through web UI, the TF plan looks like this:

[code]

[2020-11-18 17:47] jmcvetta opened #126 "mock invited -> registered transition in tests"
Is this possible / desirable?

[2020-11-19 01:51] mrunalk commented on #23
@jmcvetta, plan to take this up next on my list after #12 is fixed.

[2020-11-19 11:28] jmcvetta commented on #23
Awesome!

[2020-11-20 21:08] mrunalk commented on #12
You should be able to delete project access token now. I haven't updated the API doc yet will do that soon.

[2020-11-20 21:09] #12 closed

[2020-11-23 07:39] jmcvetta opened #127 "determine compatibility with Terraform 0.12"
Terraform SDK v2 was introduced with Terraform 0.12.  Assuming gRPC protocol has not changed, although our provider (using SDK v2) is developed with TF 0.13, it may also be compatible with TF 0.12.

[2020-11-23 12:43] jmcvetta opened #128 "New bug in project access token update endpoint"
I have a test that was reliably passing on Thursday - and today, it no longer passes.  Nothing whatsoever has changed in the code.  This bug may be related to the recent update to the API that added PAT delete support.  It tests this endpoint:  https://explorer.docs.rollbar.com/#operation/update-a-rate-limit and returns this error:

[code]

# Notice

A kludge has been merged in #130 to work around

[2020-11-23 13:45] jmcvetta opened #131 "Upload code coverage data to CodeClimate"
Enhance build-test workflow to upload coverage data to CodeClimate, thereby enabling CodeClimate's coverage analysis.

[2020-11-23 13:47] #127 closed

[2020-11-24 07:45] jmcvetta commented on #128
Per @mrunalk this has been fixed on the API side.  Confirmed, test now passes.

[2020-11-24 07:45] #128 closed

[2020-11-24 10:07] jmcvetta commented on #91
Ideally we want a forwarding address.  Something like `terraform-acceptance-tests@rollbar.com`, that forwards to me and anyone else involved with maintaining the provider.

[2020-11-24 10:11] #131 closed

[2020-11-24 10:14] jmcvetta commented on #126
This is not a good idea.  Acceptance tests are meant to test the actual behavior of interaction with the actual API.

[2020-11-24 10:40] jmcvetta commented on #125
This output is reasonable, because the impacted data sources have `depends_upon` relationships with the updated project - so Terraform knows it should re-read them.

[2020-11-24 10:40] #125 closed

[2020-11-24 11:04] jmcvetta commented on #126
Maybe we can do a unit test for this?  How hard is it to construct realistic Terraform state etc?

[2020-11-24 11:06] jmcvetta commented on #35
Can we do another test using `terraform taint`?

[2020-11-24 12:11] jmcvetta commented on #35
Nope.  `resource.TestStep.Taint` does work the way I thought it would work.  There doesn't appear to be any way to make the TF acceptance test harness taint a resource then recreate it.

However we have tested the deletion of tokens and know that works.  So unless Terraform itself is broken, we can assume `terraform taint` will work correctly.

[2020-11-24 12:11] #35 closed

[2020-11-24 19:50] coryvirok commented on #91
I created a group and added you to it. The address is `terraform-provider-test@rollbar.com`.

[2020-11-26 10:23] jmcvetta commented on #57
In order to publish our provider on the Terraform Registry, we need to [create GPG a signing key](https://www.terraform.io/docs/registry/providers/publishing.html#preparing-and-adding-a-signing-key).

This key should be stored somewhere secure that belongs to Rollbar - not on my personal computer.  @coryvirok Does Rollbar have a corporate LastPass or similar for secure storage of credentials?

[2020-11-26 10:34] jmcvetta commented on #57
We'll also need someone who is an admin of the Rollbar Github organization to upload the signing key to the Terraform Registry.

![image](https://user-images.githubusercontent.com/55682/100340343-9bb57280-300d-11eb-91eb-948235b7733c.png)

[2020-11-28 10:08] jmcvetta opened #139 "Email case-sensitivity"
It looks like when an email is invited to a Rollbar team via API, the email address is saved in lowercase, regardless of the case submitted.  This causes a bug when strings don't match.

Debug log below shows an invitation returned for `jason.mcvetta+tf-acc-test-eiw2mohch5@gmail.com`; but our code generates an `ErrNotFound` because it's looking for `jason.mcvetta+tf-acc-test-Eiw2mohCh5@gmail.com`.

[2020-11-28 10:33] #139 closed

[2020-11-29 09:46] #92 closed

[2020-11-29 09:46] #126 closed

[2020-12-01 10:34] jmcvetta commented on #91
The new address is not working.

I received the response below to a test message sent from Protonmail.   However I received no response (and no forwarded message) when sending from my Gmail account.

[2020-12-01 10:47] jmcvetta commented on #91
Code is updated to use new email address in branch [`update-email-to-rollbar-address`](https://github.com/rollbar/terraform-provider-rollbar/tree/update-email-to-rollbar-address).

However that branch cannot pass acceptance tests until I register terraform-provider-test@rollbar.com as a Rollbar user.  That can't happen until the new address is able to forward message to me.

[2020-12-01 10:48] jmcvetta commented on #91
Please forward messages to jason.mcvetta@gmail.com, not to my Protonmail.

[2020-12-02 17:17] coryvirok commented on #120
Note: This is only necessary once we have notifications being configured by the provider.

[2020-12-02 17:29] coryvirok commented on #63
We should probably change the UI to say this user was invited by the API or change the API to accept a `from_user_id`.

[2020-12-02 17:39] coryvirok commented on #73
This is likely a security issue on our end since access tokens might be the the PATH of incoming requests.

[2020-12-07 08:59] jmcvetta opened #146 "Sweeper for `rollbar_user`"
Need a test [sweeper](https://www.terraform.io/docs/extend/testing/acceptance-tests/sweepers.html) for resource `rollbar_user`.

[2020-12-07 09:35] jmcvetta commented on #107
Tool is abandoned.  No commits since Nov 29, 2018.

[2020-12-07 09:35] #107 closed

[2020-12-07 10:19] jmcvetta opened #148 "Make API endpoint configurable"
Per @coryvirok in Slack:

[2020-12-07 15:54] fmasuhr commented on #57
@jmcvetta We are really looking forward to this to use the default download via terraform registry. Do you already have an ETA?

[2020-12-08 08:49] jmcvetta commented on #57
@fmasuhr I'm hoping to have the provider published to the Terraform Registry by next week.

Here's what's needed to proceed:

* [ ] Generate GPG signing key - @natesweet
* [ ] Store key in Rollbar.com corporate LastPass - @natesweet please let me know when we can expect these two items to be ready
* [ ] Add public key to Terraform Registry - @mrunalk are you an admin for the Rollbar Github Organiz

[2020-12-08 08:55] jmcvetta opened #150 "GPG signing key for Terraform Registry"
Per #57, we need to [create a GPG signing key](https://www.terraform.io/docs/registry/providers/publishing.html#preparing-and-adding-a-signing-key) in order to publish the provider to the Terraform Registry.

Once the key has been created, it should be stored in corporate LastPass or similar secure storage facility.

[2020-12-08 08:58] jmcvetta opened #151 "Add signing key to Terraform Registry"
Per #57, once a GPG signing key has been created (#150), it must be [added to the Terraform Registry](https://registry.terraform.io/settings/gpg-keys).

This action requires a Github account with admin permissions for Rollbar's Github Organization.

Blocked by #150.

[2020-12-08 09:02] jmcvetta opened #152 "Add signing key to Github Secrets"
Per #57, after the GPG signing key has been created, its private key and passphrase must be [added to this repo's Github Secrets](https://www.terraform.io/docs/registry/providers/publishing.html#github-actions-preferred-).

Blocked by #150.

[2020-12-08 09:04] jmcvetta opened #153 "Automated publishing to Terraform registry"
Per #57, once the key is setup, we need to update the Github Actions workflow to add automated publishing of Releases to the Terraform Registry.

~Blocked by #152, #151, #150.~

[2020-12-08 09:22] jmcvetta opened #154 "TestAccTeamDeleteOnAPIBeforeApply no longer passes"
The code now contained in `TestAccTeamDeleteOnAPIBeforeApply` used to pass reliably.  Now, however, it does not pass.  Why?

[2020-12-08 09:49] #91 closed

[2020-12-08 10:04] jmcvetta commented on #154
Disabling this test caused a decrease in coverage: https://coveralls.io/builds/35531461

The original purpose of this test was indeed to cover `handleErrNotFound()`.  And it used to work.  Again bringing us to the puzzling question: why does it no longer work?

[2020-12-08 10:11] #146 closed

[2020-12-08 11:00] #148 closed

[2020-12-08 11:37] jmcvetta opened #158 "Verify documentation renders correctly when published to Terraform Registry"
Need to verify that documentation renders correctly when published to Terraform Registry, and make changes as required.

[2020-12-09 09:38] jmcvetta commented on #154
During testing I have uncovered similar bugs when reading a deleted project or a deleted project access token.  Terraform _should_ recognize that the resource has been deleted from the server and re-create it.  Instead, Terraform fails.

Maybe, before recent changes, Rollbar API allowed "deleted" teams to be read if requested by ID, even tho the "deleted" teams were not included in the list of tea

[2020-12-09 09:52] jmcvetta commented on #79
Same behavior when a project is not found.

[2020-12-09 10:32] jmcvetta commented on #23
I am no longer seeing deleted projects returned in the projects list.  @mrunalk are we good to close this ticket?

[2020-12-09 10:34] jmcvetta opened #159 "Remove workaround for #23"
As it appears API bug #23 has been fixed, we should remove the workaround for it in `RollbarApiClient.ListProjects()`.

[2020-12-09 10:51] jmcvetta opened #160 "Is Testify actually producing a unique `randName` for each test in the suite?"
In `TestAccTokenDeleteOnAPIBeforeApply`, if we use `s.randName` for the project name, the test fails if and only if other tests are running.

When we instead use `s.randName + "-0"` for the project name, the test reliably passes.

This suggests that maybe Testify is not actually producing unique `randName` values for each running test in the suite.

[2020-12-09 11:08] #154 closed

[2020-12-09 11:35] jmcvetta opened #162 "Rename `RollbarApiClient` to `RollbarAPIClient`"
Per Go style guide, `RollbarApiClient` should be renamed to `RollbarAPIClient`.

[2020-12-09 11:44] jmcvetta commented on #79
Interestingly, this bug does _not_ apply to project access tokens.

[2020-12-09 11:50] #159 closed

[2020-12-09 11:59] #162 closed

[2020-12-09 22:35] ajtran commented on #23
Yes. @jmcvetta we can close this ticket. I've released the fix for this.

[2020-12-09 22:35] #23 closed

[2020-12-10 17:39] natesweet commented on #56
@jmcvetta - Closing this issue as Cory mentioned "since there are use cases where the same name makes sense. E.g. If you rotate tokens frequently, you don't want to have a different name for each time you rotate them."

Please let me know if you have a different POV and we can consider reopening.

[2020-12-10 17:39] #56 closed

[2020-12-11 02:09] mrunalk commented on #57
@jmcvetta, completed first 3 tasks. Are you sure the Task#4 does not need this new private key and passphrase created along with this new GPG key?

[2020-12-11 09:21] jmcvetta commented on #56
I can understand that use case.

Tho I think rather than have two keys named `my-shiny-key` existing during the key rotation, it might be nicer to use timestamped names.  E.g.`my-skiny-key-20201125` would be superseded by `my-shiny-key-20201211`.  Regardless what human readable name is used, the new token still needs to be propagated to consuming services whenever the key is rotated.

If there are

[2020-12-11 09:22] jmcvetta commented on #150
@mrunalk  reports this has been completed.

[2020-12-11 09:22] #150 closed

[2020-12-11 09:22] jmcvetta commented on #151
@mrunalk  reports this has been completed.

[2020-12-11 09:31] jmcvetta commented on #57
The private key for this task is the private half of the GPG key pair just created; and the passphrase (if any) required to use it.  The key will be used to sign the binaries built by the CI/CD system before they are uploaded to Terraform registry.

@mrunalk I have added you as an admin on this repo.  You should have permission to [add the key to Github secrets](https://www.terraform.io/docs/regis

[2020-12-11 09:38] #152 closed

[2020-12-11 12:33] jmcvetta opened #170 "Explore Semantic Release"
[Semantic Release](https://github.com/semantic-release/semantic-release) provides fully automated version management and package publishing.

[2020-12-11 12:36] jmcvetta commented on #170
It's not clear from my first read of the docs whether Semantic Release only supports NodeJS code; or whether it can be made to work with other languages.

[2020-12-11 13:04] jmcvetta commented on #153
Automated release build is working through Github Actions.

[2020-12-11 13:08] jmcvetta commented on #153
However I am not able to setup publishing on Terraform Registry.  Probably because I do not have sufficient permissions on Rollbar's Github Organization.

![image](https://user-images.githubusercontent.com/55682/101906783-1d9bc300-3bec-11eb-8e3f-48043d59ccd6.png)

It looks like the TF Registry app _does_ have permission on the Github org.

![image](https://user-images.githubusercontent.com/55682/1

[2020-12-14 07:24] jmcvetta opened #173 "Matrixed testing"
Use Github Actions `strategy: matrix` functionality to test against different version of Go and Terraform.

[2020-12-14 07:24] jmcvetta commented on #170
https://www.asyncapi.com/blog/automated-releases-part-two

[2020-12-14 08:24] jmcvetta opened #174 "Why do some tests fail in parallel?"
Currently some of our acceptance tests must be run while no other tests are running.  This is not desirable.  We need to investigate why multiple instances of the test stomp each other; and if possible remediate the problem.

[2020-12-14 09:37] #173 closed

[2020-12-14 13:17] github-actions[bot] opened #176 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `next` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2020-12-14 13:22] #176 closed

[2020-12-14 20:00] ajtran commented on #63
We will proceed with not displaying the `sys:internalapi` in the UI and instead just display `the API` like so:

![image](https://user-images.githubusercontent.com/10730200/102129249-e869bd80-3e03-11eb-9dd3-f28ead1ca7c8.png)

And we will remove `from_user_id` from the API result if the invite is from an internal user.

[2020-12-15 07:11] jmcvetta commented on #63
:+1:

Please don't remove this field.  An API endpoint should always return the same _shape_ of data, regardless of the data contents.  Maybe instead return a `from_user_id` field with a `null` value.

[2020-12-15 10:31] jmcvetta opened #178 "Write a CONTRIBUTING doc"
We need a CONTRIBUTING doc.  It should mention:

* Testing (with Testify and TF acceptance test harness)
* Code coverage and quality standards
* [Conventional Commits](https://www.conventionalcommits.org/) format for commit messages
* Github Actions continuous testing & delivery system

[2020-12-15 10:32] #170 closed

[2020-12-16 00:18] ajtran commented on #63
Ah, alright! Understood. Can do and will do.

[2020-12-16 09:25] jmcvetta commented on #79
After this issue is corrected in the API, the [workaround](https://github.com/rollbar/terraform-provider-rollbar/blob/ee3692320f3e1cd8006d8b739a28ad6dbc9256ae/client/client.go#L92-L103) should be removed from the `client` package.

[2020-12-16 17:04] #63 closed

[2020-12-16 18:22] ajtran commented on #63
This should be delivered in production.

[2020-12-18 07:58] jmcvetta commented on #63
Confirmed this is working as expected on the API:

[code]

[2020-12-18 08:36] jmcvetta commented on #108
VCR has not proven feasible as a speed-up solution for running _all_ acceptance tests.

However it has proven useful in a few tests, where its limitations are outweighed by its benefits.

[2020-12-18 08:36] #108 closed

[2020-12-18 09:10] #178 closed

[2020-12-18 09:59] jmcvetta commented on #41
From @ajtran in Slack:

Yes, that's for sure the desired behavior.  And if something _can't_ be updated, it should return an error status.

[2020-12-18 10:12] jmcvetta opened #187 "Slack App for semantic-release"
semantic-release can notify Slack when it creates a new release.

In order for this to work, we need a webhook for semantic-release to use.  As a guest, I do not have the permissions to add or to create Slack apps.  @mrunalk @coryvirok can you please set up a Slack app for semantic-release to use?

The webhook for the Slack App should be set as environment variable `SLACK_WEBHOOK` in this repo's G

[2020-12-18 11:11] jmcvetta commented on #57
After merge of #189, release v1.0.0 has been published _on Github_.  To complete the publishing process, we still need to publish it to the Terraform Registry per #153.

[2020-12-18 11:31] jmcvetta opened #190 "Support Terraform Recommended Provider Binary Operating Systems and Architectures"
We should build support all the platforms identified in [Recommended Provider Binary Operating Systems and Architectures](https://www.terraform.io/docs/registry/providers/os-arch.html)

[2020-12-18 15:39] coryvirok commented on #153
Looks like TF is still not able to verify the builds due to missing SHASUMS file. Their instructions here say to use their GitHub action to generate the necessary files:

https://www.terraform.io/docs/registry/providers/publishing.html#github-actions-preferred-
https://github.com/hashicorp/terraform-provider-scaffolding/blob/main/.goreleaser.yml#L36

[2020-12-19 08:37] #190 closed

[2020-12-19 08:45] jmcvetta commented on #153
This should be fixed in release v1.0.1.

[2020-12-23 13:34] jmcvetta commented on #153
Provider is published to the registry.

[2020-12-23 13:34] #153 closed

[2020-12-23 13:35] jmcvetta commented on #57
Provider is published to the registry.

[2020-12-23 13:35] #57 closed

[2020-12-23 14:03] jmcvetta commented on #158
Looks good to me.

[2020-12-23 14:03] #158 closed

[2020-12-23 14:07] jmcvetta commented on #153
Confirmed on v1.0.2: when a new release is created by semantic-release, it is automatically published to the Terraform Registry.

[2020-12-23 14:40] jmcvetta opened #195 "Update installation instructions"
Update the README to document installation from the Terraform Registry, now that #57 is complete.

[2020-12-23 15:02] jmcvetta opened #196 "semantic-release updates version number in `package.json`"
Make semantic-release automatically update version number in `package.json`.

[2021-01-04 21:18] ajtran commented on #79
This should be resolved now. I've released a fix that returns 404 Not Found.

[2021-01-30 07:14] msgSend opened #204 "Unknown Authority Error Triggered by Connecting to Non-Default $ROLLBAR_API_URL"
The certificate used by a testing endpoint is valid and the CA is in the list of known authorities when manually queried via cURL, but is not accepted by the provider and returns the following error: `x509: certificate signed by unknown authority`.

[2021-02-01 07:16] jmcvetta commented on #204
@msgSend Please include steps for reproducing the bug when opening an Issue.

[2021-02-01 07:17] jmcvetta commented on #204
From Slack conversation, the non-default URL used was https://api-staging.rollbardev.com/

[2021-02-01 07:19] jmcvetta commented on #204
Example failure:

[code]

[2021-02-01 07:26] jmcvetta commented on #204
Certificate fails also fails to verify for me using httpie:

[code]

[2021-02-01 07:34] jmcvetta commented on #204
The `openssl` tool also fails to verify this cert:

[code]

[2021-02-01 07:39] jmcvetta commented on #204
Based on the output shown above, I suspect the server at https://api-staging.rollbardev.com may be misconfigured.

@msgSend @mrunalk who is responsible for api-staging.rollbardev.com, so we can include them in this conversation?

[2021-02-02 12:47] jmcvetta opened #205 "Install from Registry fails"
Installing the latest version of the provider from the Terraform registry fails with this output:

[code]

[2021-02-02 12:53] jmcvetta opened #206 "Test provider installation from Registry"
Add a step to the release workflow that tests whether the newly-published release can be successfully installed from the Registry.

Inspired by bug #205.

[2021-02-03 13:24] #206 closed

[2021-02-03 13:39] jmcvetta commented on #205
Closed by #207

[2021-02-03 13:39] #205 closed

[2021-02-03 14:33] jmcvetta commented on #79
Per https://github.com/rollbar/terraform-provider-rollbar/pull/198#issuecomment-771550375, it appears this issue is not yet fully resolved.

[2021-02-03 14:34] jmcvetta opened #211 "Update README installation instructions"
Update the README to document installing the provider from the TF Registry.

[2021-02-03 17:10] jmcvetta commented on #211
Closed as duplicate of #195

[2021-02-03 17:10] #211 closed

[2021-02-03 17:24] jmcvetta opened #213 "Document enabling debug output from tests"
Update README to document the effect of setting `TERRAFORM_PROVIDER_ROLLBAR_DEBUG=1` when running acceptance tests.

[2021-02-04 02:39] ajtran commented on #79
Reopened and will close when https://github.com/rollbar/terraform-provider-rollbar/pull/198 is merged.

[2021-02-04 06:34] jmcvetta commented on #79
Per @ajtran this has been fixed in prod API.  Confirmed by acceptance tests for #198.

[2021-02-04 06:34] #79 closed

[2021-02-04 09:00] #195 closed

[2021-02-04 09:04] jmcvetta commented on #204
@msgSend when can I expect an update on this?  The staging server's cert appears to be misconfigured.  Who is responsible for that system?

[2021-02-05 08:27] jmcvetta opened #217 "Improve instructions for using example TF config"
Per Ian Flanagan in Slack:

[code]

[2021-03-06 02:35] msgSend commented on #204
@jmcvetta, I apologize for the very delayed response. I think you're spot on about the issue, it looks like the certificate chain wasn't added to the configuration. I have added it and it appears that everything is happy now. Consequently, I think we can close this out. Please reopen if you feel the need to do so.

[code]

[2021-03-06 02:35] #204 closed

[2021-03-08 06:35] jmcvetta opened #222 "Test build against Go 1.16"
Go v1.16 has been released.  Update tests and build to use it.

[2021-03-08 07:13] #213 closed

[2021-03-08 07:13] #217 closed

[2021-03-15 17:54] lneves75 opened #224 "Importing users documentation vs actual behaviour"
### Terraform version

Terraform v0.14.5
- provider registry.terraform.io/rollbar/rollbar v1.0.6

### Affected resource(s)

- rollbar_user

### Terraform configuration files

[code]

### Steps to reproduce

1. According to [documentation](https://registry.terraform.io/providers/rollbar/rollbar/latest/docs/resources/user#import) we need the user ID to import it
2. Obtain the user ID via API
3. run

[2021-03-18 11:18] jamiegwatkin opened #225 "Connection Refused when Creating Project"
Hi there,

I have the following configuration defined:

versions.tf
[code]

main.tf
[code]

When running `terraform apply` I get the following error:
`Error: Post "https://api.rollbar.com/api/1/projects": dial tcp 0.0.0.0:443: connect: connection refused`

Debug log:
[code]

I'm wondering what I'm doing wrong here, I can POST and GET `https://api.rollbar.com/api/1/projects` using CURL, my internet

[2021-03-24 13:38] awendt opened #226 "resourceUserDelete does not delete user"
Hi! 👋🏻

I noticed that deleting the user resource only removed the user from the teams, but not from the account. The implementation of `resourceUserDelete` is currently:

1. get user ID
2. get current teams
3. remove user from current teams
4. done

Is it intention that the user resource is not deleted?

[2021-04-13 14:54] Jonnymcc commented on #224
I have noticed this as well. Importing using an id will force a replacement because the email attribute will change. Using the import command but specifying the email instead of the user id works as expected. I was going to make a PR to update the docs to state using email instead of id when importing, wondering what others think. Looking at the importer code the methods and variables imply that e

[2021-04-13 15:08] Jonnymcc opened #228 "Why filter out the everyone and owner team on user resource read?"
Refreshing a user resource gets teams https://github.com/rollbar/terraform-provider-rollbar/blob/6c1babaf20828611b6d63280d1e903f4c5b7eb89/rollbar/resource_user.go#L350, which calls https://github.com/rollbar/terraform-provider-rollbar/blob/6c1babaf20828611b6d63280d1e903f4c5b7eb89/rollbar/resource_user.go#L287 which filters out the "everyone" and "owner" teams. Is this intentional?

This creates we

[2021-04-14 01:30] #24 closed

[2021-05-06 21:27] hiimbex commented on #115
Don't have a big opinion on approach here, but wanted to say +1 to requesting this feature. My team would love to manage our rollbar notifications -- especially our grouping & filters since they've gotten more complex lately -- via terraform.

[2021-05-25 10:06] GreyOBox commented on #226
@awendt
https://github.com/rollbar/terraform-provider-rollbar/pull/231
It has to help

[2021-06-02 01:52] davidji99 commented on #226
@awendt

My take is that `rollbar_user` should be renamed to something else. The current name implies that I can manage the lifecycle of a user in Rollbar. This is incorrect. `rollbar_user` only manages the association of a user with a team.

Furthermore, there is only `GET` support for the https://explorer.docs.rollbar.com/#tag/Users.

[2021-06-15 08:29] Limess commented on #115
We've basically given up on managing rollbar notifications without this feature in a tool like terraform - manually doing things is painful and the we don't really want to plumb in our own service to manipulate these via API for each new service. Would love to see this out

[2021-07-26 03:16] KieranP opened #235 "Importing Owners and Everyone teams not possible"
[code]

[code]

When I change access_level to match what current exists ("owner" and "everyone"), then I get:

[code]

So importing these teams to link people to seems impossible.

[2021-09-13 10:37] ewypych commented on #235
Same problem here.

[2021-09-13 10:39] lcardito opened #240 "Import notifications"
This relates to https://github.com/rollbar/terraform-provider-rollbar/pull/236

I am trying to import an already existing resource and for some reason the provider can't read it from the rollbar API. I've poked a little around and I can't exactly see what's going wrong.

Some data :
[code]

My resource configuration is the following:

[code]

Then I am trying to import using the notification id:

[2021-09-13 14:35] lcardito commented on #240
I've done a little digging (first time I get into the implementation of a terraform provider) and I was probably a little too optimistic in expecting the `import` to work out of the box. This might probably be a different feature

[2021-09-14 06:06] lcardito commented on #240
@pawelsz-rb mentioning you here so we can continue our conversation.

The bottom line is that the `ImportStatePassthroughContext` used in the `ResourceImporter` https://github.com/rollbar/terraform-provider-rollbar/blob/master/rollbar/resource_notification.go#L47-L49 is only passing down the `id` of the resource specified in the `import` command. This means that the code can't build the right URL

[2021-09-14 10:15] awendt commented on #240
If I look at the (slightly complex) [`security_group_rule` import](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/security_group_rule#import) in the AWS provider, I can see it's using a custom format for importing because this also needs more than just the ID.

It seems it's up to the provider to turn the `ID` param in `terraform import ADDRESS ID` into something usabl

[2021-09-14 10:45] lcardito commented on #240
Yeah - I was thinking this project should use a `channel:notificationId` type of `ID` for the `import` command. Not sure tho if it has some other side-effect in the terraform provider overall.

[2021-09-14 12:22] awendt commented on #240
I had a look at how Github implements `terraform import github_membership` and realized their ID for importing and in the state file _are the same thing_. This way, `resourceGithubMembershipRead` can always assume it's a two-part ID.

I assume #236 writes just the ID into the state file (I would have to double-check but that's going to take while). If so, fixing it would be a breaking change.

[2021-09-14 16:56] pawelsz-rb commented on #240
all the resources are built with ImportStatePassthroughContext, so I kept it that way for consistency

[2021-09-14 17:00] pawelsz-rb commented on #240
notification resource writes ID to the state file, just like any other resource. Notification resource was just added on the top of other resources, and implemented in the same way. if you see some differences in implementation between our existing resources and this resource then please let me know.

[2021-09-15 08:50] awendt commented on #240
My understanding is this:

1. I don't doubt that the resource is implemented in the same way as other resources
2. I'm wondering if this the right approach here, given that `terraform import` needs a tuple (channel, ID) to work correctly
3. Other providers are using two-part IDs for similar functionality
4. I think a better ID for the resource would be `channel:notificationId`
5. I'm having a hard

[2021-09-17 21:51] pawelsz-rb commented on #240
@awendt , this is already implemented, and it takes channel,notificationId, instead or channel:notificationId, I went through terraform documentation and they allow prefix per their structure. So the newest release 1.4.0 should take care of that. Please let me know if you have any other questions

[2021-11-17 14:57] phillipuniverse opened #251 "team_ids are detected as changed after project creation"
Terraform version - 1.0.11
Rollbar provider version - 1.4.0

1. Create a project using Terraform
2. Re-run the plan with `terraform plan -no-color -out plan`

[code]

The `date_modified` is also being tracked here, but the removal of the team ids is very peculiar. If I look at the project settings I can see the team is still assigned (the 'Everyone' team corresponds to 376208)

![image](https://us

[2021-11-17 14:58] phillipuniverse commented on #251
The `date_modified` change might correspond to https://github.com/hashicorp/terraform/issues/28803

[2021-11-26 13:03] jtsaito commented on #251
We are having the same issue.

I believe it is caused not by the Terraform provider or API client but. Instead, in our case it seems to be caused by the [API endpoint for listing a team's projects](https://explorer.docs.rollbar.com/#operation/list-a-teams-projects) returning incomplete data.

When a new project is created or an existing one is updated, API calls are made to set the team's projects

[2021-11-26 16:39] jtsaito commented on #251
Rollbar support kindly told me the endpoint does support pagination. I checked and the Rollbar client does not, but subsequently I found there was a PR addressing the issue: https://github.com/rollbar/terraform-provider-rollbar/pull/229.

[2021-12-02 19:56] Omicron7 opened #254 "Open Pull Requests"
Hey there. Thanks for all the hard work you're all put into this provider.

Would it be possible to get some reviews and movement on the existing PR's? These add features and fix some of the bugs people are experiencing with large numbers of projects/users/teams.

* #229
* #231
* #250
* #253

I'd really like to use the official Rollbar provider and not need to fork and host our own in order to con

[2022-01-06 11:03] jtsaito commented on #254
@bxsx  @waltjones @pawelsz-rb @dbw0011 Could you please provide an ETA for this issue. We are relying on some of the above PRs to be fixed.

[2022-01-26 20:53] cyrusradfar commented on #254
Hi,

I apologize for the delay. There was a lapse in a maintainer here, along with a few failures in the way we bring issues into our internal PM process. We are/have fixed those issues.

Apologize for the abysmally slow response. Our community deserves better and we have a lot in mind to improve here.

I'm supremely grateful for your patience and support. It's something I and the folks at Rollbar

[2022-02-14 17:45] RyanFrench opened #261 "No provider available for running on apple silicon"
Hi,

When trying to use your provider I get the following error:

[code]

This means that I'm unable to use the provider when running Terraform locally. Can you please add a release for `darwin_arm64` for v1.4.0?

[2022-02-14 19:37] haggishunk commented on #225
The error message suggests the provider is trying to reach `api.rollbar.com` at `0.0.0.0`.   I don't see an api url defined in your provider config.  Can you confirm `ROLLBAR_API_URL` env var is not set?  Also can you confirm any sort of host routing like an entry in `/etc/hosts` isn't defined for `api.rollbar.com`?

[2022-02-17 14:40] cyrusradfar commented on #254
@Omicron7 I'm closing this out as all the tickets you've referred to are now merged.

[2022-02-17 14:41] #254 closed

[2022-02-18 09:42] alinazabara opened #268 "Slack notification for `trigger = "deploy"` fails"
There is an issue when adding Slack notification for `trigger = "deploy"`.

Here is the TF resource:

[code]

As `show_message_buttons` is defined by default, terraform apply fails with:
[code]

[2022-02-18 21:27] phillipuniverse opened #269 "Pagerduty occurrence_rate notification always shows up as changed"
Here is my terraform configuration:

[code]

It seems like every time I run a `terraform plan` this results in changes that are not actually changes, but only with the `pd_high_occurrence` resource.

On the first apply, I see the notifications created in the Rollbar project UI. When I re-run it, it detects the following difference:

[code]

I don't really understand what's going on here or what th

[2022-02-18 21:46] phillipuniverse commented on #269
This might be a problem with multiple filters? I modified my config to remove the `level >= error` filter and now I correctly get no changes:

[code]

[2022-02-21 15:32] alinazabara commented on #269
Same here (for Slack notifications for `occurrence_rate` with multiple triggers). Adding `count = 0` and `period = 0` to additional filters doesn't help.

[2022-03-07 18:40] dbw0011 commented on #268
This may be the intended design, I am not sure but I will find out this week. The deploy message for slack does not have any buttons in the message so it may be documented incorrectly instead of working incorrectly.

Deploy:
![Screen Shot 2022-03-07 at 10 38 10 AM](https://user-images.githubusercontent.com/11859315/157097007-47c98bb6-23ba-429b-b7d2-fe3625c78bad.png)

New item:
![Screen Shot 2022-0

[2022-03-07 22:23] alinazabara commented on #268
The deploy message for slack does not have any buttons indeed. However, `rollbar_notification` terraform resource has `show_message_buttons` defined by default.

As you can see in my example, I do not have `show_message_buttons` at all in `rollbar_notification`, but the error message still says `'show_message_buttons' was unexpected`.

[2022-04-05 10:02] alinazabara opened #285 "Slack channels specified without # prefix in rollbar_notification config are detected as drift"
There is an issue when switching Rollbar <-> Slack integration auth from a personal Slack token to Rollbar bot token:

To have a rollbar_notification added, Slack channel needs to be specified without `#` prefix - the resource is created successfully in this case, if the channel is specified with `#` prefix, `terraform apply` fails with `Error: 1 Channel not found`.

The issue is that when adding

[2022-06-03 14:17] 4m3ndy commented on #261
@haggishunk can you please release the darwin_arm64 package, I'm getting the following error which disables me to run terraform locally.

[code]

[2022-06-13 15:34] haggishunk commented on #261
@4m3ndy working through the process of bypassing our semantic release logic to force a release of the new target platform `darwin_arm64`.

[2022-06-14 23:31] haggishunk commented on #261
@4m3ndy release [v1.6.0](https://github.com/rollbar/terraform-provider-rollbar/releases/tag/v1.6.0) should do the trick.  Closing this issue.

[2022-07-18 14:36] cjolif commented on #251
The PR was finally merged in 1.5 *but* it does not seem to be solving the issue on our side.

[2022-07-26 15:24] nieblara opened #308 "Add support for web hook notification rules"
Let's add support for this api in our Terraform provider.

https://explorer.docs.rollbar.com/#tag/Webhook-Notification-Rules/paths/~1api~11~1notifications~1webhook~1rule~1{rule_id}/delete

[2022-07-27 13:00] finbar-rollbar opened #309 "Accelerate Terraform Refresh"
Issue: Refreshing Terraform state for projects requires multiple calls that may be batched.

Refreshing terraform state for projects is very slow. When working with large number of projects it causes usability issues

When refreshing state, the provider is not only doing “GET project details” it also does:

1. GET all teams in the org
2. It iterates through all teams, and if we find the project ID

[2022-08-08 20:38] nieblara opened #313 "Support web hook integration as a resource"
Let's add support to configure a web hook integration in our TF provider.

https://docs.rollbar.com/reference/put_api-1-notifications-webhook

[2022-08-09 08:14] #308 closed

[2022-08-16 23:34] nieblara commented on #285
Hi there @alinazabara, Is this still an issue for you? I know we have made some under the hood improvements to the way we qualify the prefix and want to make sure that this hasnt been resolved since you opened up this issue.

If so, I'll work on getting someone to dig into this so that we dont try to update all 162+ notifications if we dont need to

[2022-08-17 09:03] alinazabara commented on #285
Hi @nieblara, thanks for the reply.

The issue still persists, unfortunately.

[code]

[2022-08-23 10:41] ivan-sukhomlyn commented on #313
@nieblara @pawelsz-rb It will be perfect to have this functionality in the nearest releases. Thanks 🙂

[2022-08-23 15:05] nieblara commented on #285
Ok, Thank you. I think i know what's going on here! Let me get this on our roadmap!

[2022-08-23 15:09] nieblara commented on #313
hi there @alinazabara and @ivan-sukhomlyn
Enabling and disabling a slack integration is supported as of the latest release, here is an example

https://github.com/rollbar/terraform-provider-rollbar/blob/master/example/resources.tf#L89

As for the webhook integration support, that is on its way with the next release!

[2022-08-29 18:52] #313 closed

[2022-08-29 21:49] nieblara commented on #285
@alinazabara This should be fixed now, mind giving it another spin?

[2022-08-30 08:34] alinazabara commented on #285
@nieblara Thanks, I've tried -> the issue persists. I have tried both:
- running as is gives 400+ `rollbar_notification` updates due to channel names being changed (`"#rollbar-notifications"` -> `"rollbar-notifications"`)
- adding `#` before the Slack channel name still fails with `Error: 1 Channel not found` on apply

[2022-09-08 21:38] dylan-shipwell opened #318 "temperamental "Error: 0" in `terraform plan` caused by unhandled 502 from rollbar"
### 502 from rollbar, creates "Error 0"

    [DEBUG] provider.terraform-provider-rollbar_v1.6.0: {
      "level": "error",
      "StatusCode": 502,
      "Status": "502 Bad Gateway",
      "ErrorResult": {
        "Err": 0,
        "Message": ""
      },
      "time": "2022-09-08T21:13:43Z"
    }

    $ terraform plan
    │ Error: 0.
    │.
    │   with rollbar_project.main,
    │   on terraform.t

[2022-09-19 08:37] awendt commented on #318
From what we've seen, the Resty client is not configured to retry: https://github.com/rollbar/terraform-provider-rollbar/blob/db1f5862ed0bceddb14241259fad15dcd0c83dbb/client/client.go#L45-L72

See also: https://github.com/go-resty/resty#retries

[2022-09-22 13:24] ppsecuk commented on #268
I'm also facing this issue:
<img width="943" alt="image" src="https://user-images.githubusercontent.com/49373111/191758600-f3e5344f-f648-4fb4-a268-4e4cbd0129eb.png">

configuration:
<img width="985" alt="image" src="https://user-images.githubusercontent.com/49373111/191758890-938c5bdf-bcdf-46cf-bd4c-5a1cb2309e88.png">

[2022-10-06 21:09] #318 closed

[2022-10-07 19:32] Raymondloh2022 opened #322 "Terraform plugin crashing v 1.7.0"
**Description**
Error: The terraform-provider-rollbar_v1.7.0 plugin crashed constantly and does not recover

**Context**
The user had a good deployment yesterday; however, they ran a plan today to check the build's status. They're seeing the Rollbar provider crash now consistently. They reported having seen this before and had to tear down and rebuild our Terraform project from the ground up a few

[2022-10-27 11:59] bwmetcalf opened #330 "More graceful rate limiting handling"
When using an account access token in our terraform pipelines, we are seeing errors that we believe are due to rate limiting:
[code]
Since, at this time, rate limits for account tokens are not configurable, there is little we can do to avoid this.  However, the provider should handle this more gracefully with a better error message and a retry backoff.  This type of logic is present in other terra

[2022-10-28 14:05] rollbar-bborsits commented on #330
Devs reported there's a more graceful retry mechanism in the recently released v1.8.0. Can you update the provider to the latest version and try again? Let me know if you still experience this error.

[2022-10-31 11:52] alinazabara commented on #285
We do not face this issue anymore. I'm closing the thread. Thank you!

[2022-11-01 14:48] bwmetcalf commented on #330
Unfortunately, after upgrading we are seeing the same behavior.  What information can I provide to help troubleshoot?

[2022-11-03 18:49] rollbar-bborsits commented on #330
@bwmetcalf, I'm sorry to hear that. Let me check this with the devs and I will get back to you.

[2022-11-03 20:24] bwmetcalf commented on #330
Here you go.  This is part of our rollbar module that gets called for all of our microservices:
[code]
Please let me know if you need more information.  We seem to always have the issue with the `rollbar_project` data source which we use to obtain the project id from the project name.

[2022-11-04 16:45] rollbar-bborsits commented on #330
@bwmetcalf Thanks! This looks fine for now. I'll get back to you whenever we find something out.

[2022-11-09 06:52] pawelsz-rb commented on #330
@bwmetcalf , just tested this and it looks fine on our end. How are you setting these terraform variables? How are you passing/defining  them  ?

[2022-11-09 15:15] bwmetcalf commented on #330
Here is the code that calls the module that I previously posted:
[code]
`namespace` and `stage` come from the use of https://registry.terraform.io/modules/cloudposse/label/null/latest.  `project_name` comes from a static definition in the microservice module that calls this module.  `rollbar_token_scopes` is an empty list for most microservices; for two services we pass in `["post_client_item"]` t

[2022-11-09 17:18] rollbar-bborsits commented on #330
@bwmetcalf Terraform can debug each command, so it's easier to find what goes south. You can set the log level with the `TF_LOG` environmental variable, and the output can be saved to a file via the `TF_LOG_PATH` variable. e.g., `TF_LOG=TRACE TF_LOG_PATH=log.txt terraform apply`. Can you run your command on `TRACE` debug level to ensure we catch everything? You can find detailed documentation [her

[2022-11-10 20:09] DrewRonchetti commented on #322
Hi, your customer service team suggested we post this here.  We were able to recreate the crash in 1.8.0.  Let me know if we can provide any additional data.

Stack trace from the terraform-provider-rollbar_v1.8.0 plugin:

panic: Invalid address to set: []string{"config", "1987373520", "summary_time"}

goroutine 46 [running]:
[github.com/rollbar/terraform-provider-rollbar/rollbar.mustSet(..](http:

[2022-11-10 20:37] rollbar-bborsits commented on #322
@DrewRonchetti Thanks for reporting the issue.

@pawelsz-rb Can you look into this one? Do you need any additional info to debug the issue?

[2022-11-16 21:24] DrewRonchetti commented on #322
@rollbar-bborsits We are running this via Terraform Cloud.  We are able to build from scratch and recreate the issue.  A debug session maybe the best way to show how to recreate?  I am currently in MST and open on Fridays.

[2022-11-18 07:52] pawelsz-rb commented on #330
@bwmetcalf , alternatively please look at our README debugging section, maybe it will help too.

[2022-11-18 15:47] DrewRonchetti commented on #322
@rollbar-bborsits It looks like terraform cloud updated to 1.3.5.  Doing extensive testing this morning, I am unable to reproduce these errors with this new version of terraform.  I'll continue to run builds and if I notice anything I'll be sure to let you all know.  I appreciate all the help looking into this!

[2022-11-18 15:51] jasonstitt commented on #268
Is there any workaround? I haven't been able to find one as the property has a default value and can't be undefined.

[2022-11-18 15:52] rollbar-bborsits commented on #322
Thanks for getting back to me @DrewRonchetti. I'll close this issue for now, but don't hesitate to reopen it if it still occurs.

[2022-11-18 15:52] #322 closed

[2022-11-18 15:59] rollbar-bborsits commented on #268
Hey @jasonstitt, Are you using the latest Terraform provider? It's version 1.8.0.

[2022-11-18 20:05] jasonstitt commented on #268
@rollbar-bborsits yes, v1.8.0

[2022-11-21 09:00] alinazabara commented on #285
Unfortunately, the issue occurs again. But this time the detected changes are not consistent. Sometimes there are 180 detected drifts -> the next `terraform plan` shows 274 changes -> then 211 -> etc (with no changes done to the terraform code). Could you please look into it?

[2022-11-21 09:23] alinazabara opened #333 "Inconsistent Error: 1 Channel not found"
We are experiencing random `Error: 1 Channel not found` errors during `terraform apply`.

[code]
After running terraform plan, we have `51 to change` terraform resources - all of those are `occurrence_rate` Slack notifications (due to [this](https://github.com/rollbar/terraform-provider-rollbar/issues/269) issue). When running `terraform apply`, we receive 10 `Error: 1 Channel not found` errors (s

[2022-11-22 03:17] bwmetcalf commented on #330
This is the debug output from the provider when we get the error:
[code]
It appears that the rollbar API is returning a 502 occasionally triggering this problem.

[2022-11-22 05:06] pawelsz-rb commented on #330
@bwmetcalf , did you upgrade our plugin to the newest version? there should be retry mechanism which would help with errors returned from API.

[2022-11-22 14:07] bwmetcalf commented on #330
Yes.  We are running v1.8.0.

[2022-11-22 18:03] rollbar-bborsits commented on #268
@jasonstitt, let us look into this one and find out what goes wrong. I'll get back to you whenever we find out something.

[2022-11-22 20:44] bwmetcalf commented on #330
I have also opened a support ticket:  49807.  It seems the provider is not gracefully handling these errors and the API is clearly having issues resulting in the 502 errors.

[2022-11-22 21:26] rollbar-bborsits commented on #268
@jasonstitt It looks like the provider mishandles some config objects. Unfortunately, the fix is not trivial, so we'll need to figure out how to do that.

[2022-11-23 07:31] pawelsz-rb commented on #330
@bwmetcalf , is the error happening always at the same place ?

[2022-11-23 20:13] rollbar-bborsits commented on #285
@pawelsz-rb Can you check this out, please? I reproduced this issue on my computer with the latest provider last week.

[2022-11-23 20:17] rollbar-bborsits commented on #333
@alinazabara Thanks for reporting this issue. We'll investigate what goes wrong and will get back to you when finding something out.

@pawelsz-rb Can you look into this one too? This seems to be connected with https://github.com/rollbar/terraform-provider-rollbar/issues/285

[2022-11-23 21:23] rollbar-bborsits commented on #285
@nieblara Pawel suspects that this is an API side issue. Can you look into it?

[2022-11-23 21:32] rollbar-bborsits commented on #333
@nieblara Pawel suspects that this is an API-side issue. Can you look into it, please?

[2022-11-25 21:02] bwmetcalf commented on #330
I believe the error always occurs in the `rollbar_project` data source, but I am not 100% sure.  I will track this and provide an update here.

[2022-11-29 12:44] Nikamura opened #334 "Setting timezone on project"
Hey, I would like to be able to set timezone of the project via terraform.

https://github.com/rollbar/terraform-provider-rollbar/blob/f06b02f44a0bc4614327058c3d93014fc11b5ed6/client/project.go#L73-L73

[2022-11-29 15:27] bwmetcalf commented on #330
Any update on this?  To clarify my previous comment, the error, I believe, always occurs in the `rollbar_project` data source.  However, we have several projects that call the module where this data source is used.  The error is not specific to any one of these projects.

[2022-11-30 20:29] bwmetcalf commented on #330
This occurred again and is indeed in the `rollbar_project` data source.